
header{
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10em;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}